

.header{
    .imgfondo{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, #016e78, #015b63, #00494f, #00383c, #00272a);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:inherit;
        .imglogo{
            position: relative;
            display: flex;
            width: 200px;
            height: 100px;
        }
    }
}

.fontnav{
    font-family: $font-pag;
    color:map-get($map-fuente, color );
    font-size: x-large;
    background-image: linear-gradient(to right, #000000, #370022, #5d0052, #6a0099, #0001f6);
    background-clip: text;
}
