$color-titulo: rgb(50, 0, 97);
$font-pag: "montserrat", sans-serif;
$color-cardwiki1: rgb(0, 0, 0);
$color-cardwiki2: rgb(255, 255, 255);

$map-fuente:(
    color:rgb(2, 134, 24),
    font-size: 30px,

);